@charset "UTF-8";

@font-face{
    font-family: 'Eyesome Script';
    src: url(fontes/Eyesome\ Script.otf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(fontes/Montserrat-VariableFont_wght.ttf);
}
 /*Configuracoes Globais*/
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

:root{
    --fonte-cabecalho:'Eyesome Script';
    --fonte-corpo:'Montserrat';
}
 
body{
    background-image: url(imagens/GUITAR\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
header{
    background: url(imagens/Capa2.jpg);
    width: 100vw;
    height: 55vh;
    position: relative;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
     
}
header::after{
    filter: opacity(10%);
}

header > h1{
    font-family: var(--fonte-cabecalho);
    color: white;
    text-shadow: 2px 2px 0px 6px;
    font-weight: bold;
    font-size: 100px;
    padding-top: 50px;
    text-align: center;
}
div#bloco{
    width: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    bottom: 10px;
    display: flex;
    word-spacing: 15px;
}
nav{
    word-spacing: 50px;
    margin: auto;
    text-align: center;
}
 
nav.externo > a {
    font-family: var(--fonte-corpo);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    transition-duration: 0.5s;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.168);
    margin-top: 20px;
}
nav.externo a:hover{
    
    color: rgba(74, 124, 107, 0.781);
    text-shadow: 0 0 6px rgba(127, 255, 212, 0.379);
}
header nav.redes img{
  width: 25px;
  height: 25px;
  padding: 10px;
 
  
  filter:  brightness(0) invert(1);
  
}
 
 
 main article p{
    background-color: white;
    font-family: var(--fonte-corpo);
    line-height: 1.6;
    font-size: 1.05rem;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    margin: 40px auto;
   
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
 }

img.fotoperfil{
    height: 400px;
    width: 400px;
    object-fit:cover;
    object-position: top;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.177);
}

footer{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.786);
   
}
footer > p{
    color: white;
    text-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.118);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
