@charset "UTF-8";

/*Mobile First*/

@font-face{
    font-family: 'Eyesome Script';
    src: url(../fontes/Eyesome\ Script.otf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --fonte-cabecalho:'Eyesome Script';
    --fonte-corpo:'Montserrat';
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/GUITAR\ 2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
header {
    height: 60vh;
    background-image: url(../imagens/Capa1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

     display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza vertical */
    align-items: center;     /* centraliza horizontal */
    text-align: center;
    padding: 20px;
}
header nav.externo{
    margin-bottom: 0px;
}
h1 {
    color: white;
   font-family:var(--fonte-cabecalho);
   font-size: 4.5em;
   font-weight: bold;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.336);
   margin: 0 0 20px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    filter: invert(1);
    
}
.externo > a{
    font-family: var(--fonte-corpo);
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
}
 
article > p{
    background-color: white;
    font-family: var(--fonte-corpo);
    line-height: 1.6;
    font-size: 1.05rem;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
 }

img#fotoperfil{
    height: 350px;
    width: 350px;
    object-fit:cover;
    object-position: top;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0,8); 
}
 
 
footer{
    background-color: black;
    text-align: center;
}
footer > p{
    font-family: var(--fonte-corpo);
    padding: 15px;
    color: white;
}
 
     

 /* Tablet */
@media (min-width: 600px) {
    h1{
        font-size: 100px;
    }
    footer{
        width: 100vw;
    }
}

/* Notebook */
@media (min-width: 1024px) {
     
}

 