@charset "UTF-8";

/*Mobile First*/

@font-face{
    font-family: 'Eyesome Script';
    src: url(../fontes/Eyesome\ Script.otf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --fonte-cabecalho:'Eyesome Script';
    --fonte-corpo:'Montserrat';
}
body{
    font-family: var(--fonte-corpo);
   
  background:
    linear-gradient(to bottom, rgba(0,0,0,8), rgba(0, 0, 0, 0.3)),
    url("../imagens/GUITAR\ 2.jpg") center/cover no-repeat;
  
   display: block;
   overflow-x: hidden;
   opacity 1;
}
header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.280)), url(../imagens/Capa1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    padding: 20px;
}
 
header::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.2);
}
menu#externos ul{
    padding-bottom: 5px;
}
h1 {
    color: rgba(255, 255, 255, 0.858);
   font-family:var(--fonte-cabecalho);
   font-size: 5em;
   margin-bottom: 20px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.909);
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    filter: invert(1);
}
#externos{
    display: none;
}
.hamburguer{
    position:absolute;
    top: 20px;
    right: 20px;

    font-size: 24px;
    color: white;
    background: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.828);

    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
}
 
menu > ul > li > a{
      font-family: var(--fonte-corpo);
    color: rgba(255, 255, 255, 0.834);
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.168);
    
}
menu > ul > li > a:hover{
  color: rgba(74, 124, 107, 0.781);
  text-shadow: 0 0 6px rgba(127, 255, 212, 0.379);
}

article > p{
    background-color: white;
    font-family: var(--fonte-corpo);
    line-height: 1.6;
    font-size: 1.05rem;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    max-width: 600px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
 }

img#fotoperfil{
    height: 250px;
    width: 250px;
    object-fit:cover;
    object-position: top;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,8); 
}
 
 
footer{
    background-color: black;
    text-align: center;
}
footer > p{
    font-family: var(--fonte-corpo);
    padding: 15px;
    color: white;
}
 
@media screen and (min-width:768px) and (max-width:992px) {
    .hero h1 {
        font-size: 8em;
    }
 
    .hamburguer{
        display: none;
    }
    .hero-content{
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    h1{
        font-size: 10em;
    }
    #externos{
        display: inline-block;
    }
    .hamburguer{
        display: none;
    }
}
@media screen and (min-width:1200px) {
    h1{
        font-size: 10em;
    }
     #externos{
        display: inline-block;
    }
    .hamburguer{
        display: none;
    }
}

 