@charset "UTF-8";

@font-face{
    font-family: 'Eyesome Script';
    src: url(../fontes/Eyesome\ Script.otf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}
:root{
    --fonte-cabecalho:'Eyesome Script';
    --fonte-corpo:'Montserrat';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 header{
  height: 40vh;
 }
header > h1{
    font-family: var(--fonte-cabecalho);
    color: white;
    text-shadow: 2px 2px 0px 6px;
    font-weight: bold;
    font-size: 100px;
    padding-top: 20px;
    text-align: center;
}

body {
  font-family: var(--fonte-corpo);
  height: 100vh;
  background:
    linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.4)),
    url("../imagens/GUITAR\ 2.jpg") center/cover no-repeat;
  padding: 40px;
  display: block;
  justify-content: center;
}
h2{
   font-family: var(--fonte-corpo);
  padding: 10px;
  color: white;
  text-align: center;
}
textarea#imensagem{
  color: white;
  padding-top: 15px;
  background-color: rgb(46, 7, 7);
  display: block;
  margin: auto;
  text-indent: 10px;
  margin-bottom: 10px;
}
#enviar{
  margin-top: 10px;
  padding: 10px;
  display: block;
  margin: auto;
  
}
a{
  font-family: var(--fonte-corpo);
  color: white;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 50px;
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.168);
  text-align: center;
}
a:hover{
   color: rgba(74, 124, 107, 0.781);
    text-shadow: 0 0 6px rgba(127, 255, 212, 0.379);
}

footer{
  
  margin-top: 50px;
  text-align: center;
  background-color: black;
}
footer > p{
  font-family: var(--fonte-corpo);
  padding: 10px;
  color: white;
}
 